* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

body{
  background-color: #e6e6e6 !important;
}

#loginform{
  background-color:white;
  margin-top: 12% !important;
  width: 50% !important;
  border-radius: 10px;
}

#forgotform{
  background-color:white;
  margin-top: 12% !important;
  width: 50% !important;
  border-radius: 10px;
}

#registerform{
  background-color:white;
  margin-top: 4.5% !important;
  width: 50% !important;
  border-radius: 10px;
}

#loginbtn:hover{
  cursor: grab !important;
  color: blue !important;
}

#registerbtn:hover{
  cursor: grab !important;
  color: blue !important;
}

#forgotbtn:hover{
  cursor: grab !important;
  color: blue !important;
}


@media only screen and (max-width: 600px) {

  #loginform{
  width: 90% !important;
  margin-top: 32% !important;
}

  #registerform{
  width: 90% !important;
  margin-top: 2% !important;
}

#forgotform{
  background-color:white;
  margin-top: 30% !important;
  width: 90% !important;
  border-radius: 10px;
}

}